*{
    font-family:  "Cabin", sans-serif ;font-size: 20px;
}
.body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-form{
    background-color: white;
    border: 1px solid gainsboro;
    border-width: 95px;
    text-align: center;
    padding: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
}

.login-form button {
    background-color: #3897f0;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}


.divider {

    align-items: center;
    
}

footer {
    width: 70%;
    text-align: center;
    margin-top: 2px;
}
footer a,
footer span,
footer select {
    font-size: 13px;
    color: #8e8e8e;
    text-decoration: none;
    margin: 5px;
}

footer select {
    outline: none;
    border: none;
    background-color: #eee;
}